table.table.table-striped.table-hover
  col(width=60)
  tbody
    each user in users
      tr(data-user-id = user.get('id'))
        td
          a(href="/#users/" + user.get('id'))
            img.img-circle(src=user.getGravatarUrl(40))
        td= user.get('name')
        td
          a(href="mailto://" + user.get('email'), target="_blank")= user.get('email')
        td.text-right
          if user.hasPermission('edit')
            .visible-xs
              .btn-group
                button.btn.btn-default.btn-xs.dropdown-toggle(data-toggle="dropdown")
                  span.glyphicon.glyphicon-cog
                  |&nbsp
                  span.caret
                ul.dropdown-menu.dropdown-menu-right
                  li
                    a(href="/#users/" + user.get('id') + '/edit')= t('user.edit')
                  li
                    a= t('user.list.delete')
            .hidden-xs
              a.btn.btn-default.btn-xs(href="/#users/" + user.get('id') + '/edit')
                span.glyphicon.glyphicon-pencil
                |&nbsp;
                = t('user.list.edit')
              |&nbsp;
              a.btn.btn-default.btn-xs.delete
                span.glyphicon.glyphicon-trash
                |&nbsp;
                = t('user.list.delete')

.pagination-wrap
