.btn-toolbar.top-space
  .btn-group
    a.btn.btn-success.dropdown-toggle(dropdown-toggle, data-toggle="dropdown")
      = t('user_attributes_page.button.new_attribute') + " "
      span.caret
    ul.dropdown-menu
      each availableTypeMeta, availableType in availableTypes
        li
          a(href="#", data-new-attribute=availableType)= availableTypeMeta.label
.block.top-space
  .title= t('user_attributes_page.title')
  .content.no-border.list