form
  each schemaElement, schemaElementName in schema
    .form-group
      label= t('user_attribute_editor_popup.field.' + schemaElementName)
      input.form-control(type=schemaElement.type, name=schemaElementName, value=attribute[schemaElementName])